<!DOCTYPE html> <!--Indica la versión de HTML, en este caso la 5-->
<html lang="es"> <!--Inicio del documento HTML con lenguaje español-->
<head> <!--Etiqueta para incluir metadatos,hojas de estilo entre otro-->
	<meta charset="UTF-8"> <!--Incluyendo la codificación UTF-8 -->
	<title>Mi blog</title> <!--Título de la pestaña en el navegador-->
</head> <!--Fin de la etiqueta de metadatos-->
<body> <!--Inicia el cuerpo de nuestro sitio web-->
	<p>Hola mundo de Django 2.0</p> <!--Parrafo-->
</body><!--Termina el cuerpo de nuestro sitio web-->
</html> <!--Fin del documento HTML-->

