{% load static %}
<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <div class="carousel-item indigo darken-4" href="#one!"><img src="{% static 'media/carA.jpg' %}">
  </div>
  <div class="carousel-item indigo darken-4" href="#two!"><img src="{% static 'media/carB.jpg' %}">
  </div>
  <div class="carousel-item indigo darken-4" href="#three!"><img src="{% static 'media/carC.jpg' %}"></div>
</div>