{% extends 'base.html' %}

{% block content %}

    {% load static %}

    <main>
        <br><br>
        <div class="container">
            <div class="row">
                <center>
                    <h3 class="tipro">Inicia Sesion!</h3>
                </center>
                <div class="col s6 offset-s3 white">
                    <form class="post-form" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class=" btn-large waves-effect purple accent-3" type="submit">Iniciar Sesion
                        </button>
                    </form>
                </div>
                <div class="col s12">
                    <br><br>
                    <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <a class="btn waves-effect #d500f9 purple accent-3" type="button" name="action"
                       href={% url 'registro' %}>Registrate!
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col s3">
                    <a class="btn waves-effect #d500f9 purple accent-3" type="button" name="action"
                       href={% url 'cerrar' %}>Cerrar Sesión!
                    </a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}